
  <div class="center-content">
    <form action="/signup" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email" id="" placeholder="Please fill in your email..">
      <label for="password">Password</label>
      <input type="text" name="password" id="" placeholder="Please fill in your Password..">
      <button id="btn-submit" type="submit">Create User</button>
    </form>
  </div>
</div>