<div class="users-list">
  <div class="login__msg"></div>
  <div class="login__form">
    <p>Welcome to your Iron Food Profile Page!</p>
    <p>You can edit your Profile Page here.</p>
    <form action="/edit-profile" method="POST">
      <input type="text" name="name" id="" placeholder="Your Full Name">
      <input type="text" name="email" id="" placeholder="Your e-mail">
      <input type="password" name="password" id="" placeholder="Your password">
      <button id="btn-submit" type="submit">Edit Profile</button>
    </form>
  </div>
</div>