<div class="users">
  <div class="login__msg"></div>
  <div class="login__form">
    <p>Welcome to your own Profile @Iron Food!</p>
    <p>Click on the edit button to edit your Profile.</p>
    <form action="/edit-profile" method="POST">
      <input type="text" name="name" id="" placeholder="Your Full Name">
      <input type="text" name="email" id="" placeholder="Your e-mail">
      <input type="password" name="password" id="" placeholder="Your password">
      <button id="btn-submit" type="submit">Edit Profile</button>
    </form>
  </div>
</div>