<div class="header-wrapper">

    <a href="/">
        <img src="/img/iron-food-logo-v2.svg" alt="Iron Food" class="header-logo">
    </a>

    <div class="header-ctas">
        <a href="/signup" class="header-button">Sign up</a>
        <a href="/login" class="header-button">Log in</a>
    </div>

</div>