
<div class="header-wrapper">

    <a href="/">
        <img src="/img/iron-food-logo-v4.svg" alt="Iron Food" class="header-logo">
    </a>
    
    <div class="header-links">
        <a href="/tips" class="header-link__item">Food Around Ironhack</a>
    </div>

    <div class="header-ctas">
        <a href="/passport/register" class="header-button">Sign up</a>
        <a href="/passport/login" class="header-button">Log in</a>
    </div>

</div>