<div class="hero">
    <div class="hero__title">
        <h1>Find the best food around Iron Hack Amsterdam</h1>
    </div>
</div>

<div class="teaser">
    <div class="teaser__item">
        <div class="teaser__item__title">Lunch</div>
        <div class="teaser__item__image"><img src="../img/lunch.jpeg" alt=""></div>
    </div>
    <div class="teaser__item">
        <div class="teaser__item__title">Snacks</div>
        <div class="teaser__item__image"><img src="../img/snacks.jpeg" alt=""></div>
    </div>
    <div class="teaser__item">
        <div class="teaser__item__title">Coffee</div>
        <div class="teaser__item__image"><img src="../img/coffee.jpeg" alt=""></div>
    </div>
</div>