{{!-- <div class="hero"> --}}

    <div class="slider ">
      <div class="slide current">
        <div class="content">
          <h1>Taste Iron Hack</h1>
          <h3>Great food around iron hack amsterdam</h3>
        </div>
      </div>
      <div class="slide ">
        <div class="content ">
          <h1>Fou Fow Ramen</h1>
          <h3>Iron Food Tip Fou Fow Ramen</h3>
        </div>
      </div>
      <div class="slide ">
        <div class="content">
          <h1>Pad Thai World</h1>
          <h3>Iron Food Tip Pad Thai World</h3>
        </div>
      </div>
      <div class="slide ">
        <div class="content">
          <h1>La Perla</h1>
          <h3>Iron Food Tip Pizza!</h3>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button id="prev"><i class="fas fa-arrow-left"></i></button>
      <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>

<div class="teaser">
    <div class="teaser__item">
        <div class="teaser__item__title">Fou Fow Ramen</div>
        <div class="teaser__item__image"><img src="../img/noodles.jpg" alt=""></div>
    </div>
    <div class="teaser__item">
        <div class="teaser__item__title">Pad Thai World</div>
        <div class="teaser__item__image"><img src="../img/padthai.jpg" alt=""></div>
    </div>
    <div class="teaser__item">
        <div class="teaser__item__title">d &amp; a hummus bistro</div>
        <div class="teaser__item__image"><img src="../img/denahummus.jpg" alt=""></div>
    </div>
{{!-- </div> --}}