<div class="hero">
    <div class="hero__title">
        <h1>Taste Iron Hack</h1>
        <h3>Great food around iron hack amsterdam</h3>
    </div>
</div>

<div class="teaser">
    <div class="teaser__item">
        <div class="teaser__item__title">Fou Fow Ramen</div>
        <div class="teaser__item__image"><img src="../img/noodles.jpg" alt=""></div>
    </div>
    <div class="teaser__item">
        <div class="teaser__item__title">Pad Thai World</div>
        <div class="teaser__item__image"><img src="../img/padthai.jpg" alt=""></div>
    </div>
    <div class="teaser__item">
        <div class="teaser__item__title">d &amp; a hummus bistro</div>
        <div class="teaser__item__image"><img src="../img/denahummus.jpg" alt=""></div>
    </div>
</div>