<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/signup.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel='stylesheet' href='/stylesheets/tips.css' />
    <link rel='stylesheet' href='/stylesheets/tips-details.css' />
  <link rel="stylesheet" href="https://use.typekit.net/ymv3tle.css">
</head>

<body>

  {{!-- header is the standard header including the signup and login buttons --}}
  {{> header }}

{{!-- headerloggedin is the header we want to show once the user is logged in. It includes the "add tip" button and logout link --}}
  {{!-- {{> headerloggedin }} --}}

  <div class="container">
    {{{body}}}
  </div>
  {{> footer }}
</body>

</html>