<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- <script src="/scripts/slider.js"></script> --}}
  <link rel="stylesheet" href="/stylesheets/slider.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/signup.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel='stylesheet' href='/stylesheets/tips.css' />
  <link rel='stylesheet' href='/stylesheets/tips-details.css' />
  <link rel='stylesheet' href='/stylesheets/tips-add.css' />
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <link rel="stylesheet" href="https://use.typekit.net/ymv3tle.css">
</head>

<body>

{{#unless user}}  {{> header }}
{{/unless}}

{{#if user}}
  {{> headerloggedin }}
{{/if}}

  <div class="container">
    {{{body}}}
  </div>
  {{> footer }}
</body>

</html>