<div class="tips__add__form">

    <form action="tips/add" method="post">

        <label for="name-input">What is the name of your food tip?</label>
        <input id="name-input" type="text" name="Name" placeholder="Name of the place">


        <label for="category-input">What should we get there?</label>
        <div class="tips__add__category">
        <input type="radio" id="coffee" name="category" value="coffee">
                <label for="coffee">Coffee</label>


        <input type="radio" id="lunch" name="category" value="lunch">
                <label for="lunch">Lunch</label>


        <input type="radio" id="snacks" name="category" value="snacks">
                <label for="snacks">Snacks</label>



        <input type="radio" id="dinner" name="category" value="dinner">
                <label for="dinner">Dinner</label>

        </div>

        <label for="description">What do we need to know about this place?</label>

        <textarea id="description" name="description" rows="5" cols="33" placeholder="This place offers ... and is great because ..."></textarea>

        <label for="address">Website</label>
        <input type="text" id="website" name="website" placeholder="www.example.com">

        <label for="address">Address</label>
        <input type="text" id="address" name="address" placeholder="e.g. Prinsengracht 102, 1017NK Amsterdam">

        <input type="submit" value="Submit" id="btn-submit">
    </form>

</div>