<div class="tips">
    <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/lunch.jpeg" alt="" class="tips__item__image">
    </div></a>
    <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/coffee.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/snacks.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/lunch.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/coffee.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/snacks.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/lunch.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/coffee.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/snacks.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/lunch.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/coffee.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/snacks.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/lunch.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/coffee.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/snacks.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/lunch.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/coffee.jpeg" alt="" class="tips__item__image">
    </div>
    <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/snacks.jpeg" alt="" class="tips__item__image">
    </div>
    
</div>