<div class="tips-add">
  <div class="tips__msg"></div>
  <div class="tips__form">
    <p>Add your tip and share!</p>
    <form action="/tips" method="POST">
      <input type="text" name="title" id="title" placeholder="Fill in the title of your tip..">
      <input type="text" name="body" id="body" placeholder="Tell everybody about the tip..">
      <button id="btn-submit" type="submit">Post tip</button>
    </form>
  </div>
</div>