<div class="tips">
    {{#each tips}}
        <a href="/tips/{{this._id}}"><div class="tips__item">
        <div class="tips__item__title">{{this.category}}</div>
        <img src="/img/cat_{{this.category}}.png" alt="" class="tips__item__image">
       <div class="tips__item__name">{{this.name}}</div>
    </div></a>
    {{/each}}
    
</div>