<div class="tips">
    <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/cat_lunch.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Pad Thai World</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/cat_coffee.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Lunch place</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/cat_snacks.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Marqt Supermarket</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Dinner</div>
        <img src="../img/cat_dinner.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Dinner Place</div>
    </div></a>
        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/cat_lunch.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Pad Thai World</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/cat_coffee.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Lunch place</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/cat_snacks.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Marqt Supermarket</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Dinner</div>
        <img src="../img/cat_dinner.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Dinner Place</div>
    </div></a>
        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/cat_lunch.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Pad Thai World</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/cat_coffee.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Lunch place</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/cat_snacks.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Marqt Supermarket</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Dinner</div>
        <img src="../img/cat_dinner.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Dinner Place</div>
    </div></a>
        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/cat_lunch.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Pad Thai World</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/cat_coffee.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Lunch place</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/cat_snacks.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Marqt Supermarket</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Dinner</div>
        <img src="../img/cat_dinner.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Dinner Place</div>
    </div></a>
        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/cat_lunch.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Pad Thai World</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/cat_coffee.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Lunch place</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/cat_snacks.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Marqt Supermarket</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Dinner</div>
        <img src="../img/cat_dinner.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Dinner Place</div>
    </div></a>
        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Lunch</div>
        <img src="../img/cat_lunch.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Pad Thai World</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Coffee</div>
        <img src="../img/cat_coffee.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Lunch place</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Snacks</div>
        <img src="../img/cat_snacks.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Marqt Supermarket</div>
    </div></a>

        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">Dinner</div>
        <img src="../img/cat_dinner.png" alt="" class="tips__item__image">
       <div class="tips__item__name">Dinner Place</div>
    </div></a>


    {{!-- {{#each tips}}
        <a href="#"> <div class="tips__item">
        <div class="tips__item__title">{{this.category}}</div>
        <img src="{{this.imageUrl}}" alt="" class="tips__item__image">
       <div class="tips__item__name">{{this.name}}</div>
    </div></a> --}}
    
</div>