.login {
    height: 60vh;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.login__msg {
    background-image: url(../img/coffee.jpeg);
    border-radius: 20px;
    width: 55%;
    background-size: cover;
    background-position: center;
    min-width: 350px;
}

.login__form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    width: 40%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    padding-top: 2rem;
}

.login__form>p {
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.login__form>form {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    opacity: 1;
    height: 3.5rem;
    font-size: large;
    padding-left: 1rem;
}

#btn-submit {
    background: #ED7A3B 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
text-align: center;
font: Bold 26px Rift;
letter-spacing: 0.88px;
color: #FFFFFF;
opacity: 1;
border: none;
height: 3.5rem;
}