/*--- fonts used from Adobe fonts ----

/*  font-family: rift,sans-serif;
    font-weight: 400;
    font-style: normal; */
/* 
    font-family: rift,sans-serif;
    font-weight: 400;
    font-style: italic; */

/*  font-family: rift,sans-serif;
    font-weight: 700;
    font-style: italic; */

/*  font-family: rift,sans-serif;
    font-weight: 700;
    font-style: normal; */

/*----------------------- Header Styles --------------------------*/

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: rift,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.header-wrapper {
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
  align-items: center;
}

.header-logo {
  height: 55px;
  margin-left: 20px;
  vertical-align: middle;
}

.header-ctas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-links {
  display: flex;
  color: black;
  font-weight: 700;
  text-decoration: none;
  /* align-items: center; */
  /* text-align: center; */
  justify-content: space-between;
}

.header-link__item {
  margin-left: 20rem;
}

.header-link__item, a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-family: rift,sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.95px;
  margin-bottom: -10px;
  padding: 0;
}


.header-button {
    box-sizing: border-box;
    color: #fff;
    background-color: #2DC5FA ;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.85px;
    font-weight: 700;
    line-height: 4px;
    padding: 15px 15px;
    font-size: 18px;
    text-align: center;
    /* margin-top: 5px; */
    margin-left: 40px;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
}

.header-text {
  font-size: 18px;
  font-weight: 700;
  color: #2DC5FA ;
  text-decoration: underline;
  margin-left: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
}

/* .container {
  
} */

/*----------------------- Footer Styles --------------------------*/
.footer {
  height: 200px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
