
.tips {
    min-height: 60vh;
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 60px;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    padding: 20px;
}

.tips > a {
    color: black;
    text-decoration: none;
}

.tips__item {
    border: 1px solid #707070;
    height: 225px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.tips__item:hover {
    transform: scale(1.1);
}

.tips__item__title {
    height: 15%;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.tips__item__image {
    height: 55%;
    object-fit: cover;
    overflow: hidden;
}

.tips__item__name {
    height: 30%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}