        <h2>Upload photo for tip</h2>
        <form action="/passport/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="photo" class="profile__fileinput">
            <input type="submit" value="Upload" class="profile__uploadbtn">
        </form>