    <section class="profile__avatar__upload">
        <hr>
        <h2>Upload your photo</h2>
        <form action="/passport/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" class="profile__fileinput">
            <input type="submit" value="Upload" class="profile__uploadbtn">
        </form>
        <hr>
    </section>